In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats

In [3]:
sales = pd.read_csv("sales_082020.csv")
sales

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09
...,...,...,...,...,...,...,...,...,...,...
237666,p7ibf7soot,GB,ss7jy9ks,GB,hzc7pmjxmsb6,Bottoms - Womens,NaN,GBP,17.11,2020-08-06
237667,2hg8zirueq,US,bk6apusi,US,fskn84lfyrvz,Home,NaN,USD,69.00,2020-08-05
237668,k5hmcfxcs6,GB,n2ez0xph,GB,5afe7yhdpcmz,Other,NaN,GBP,58.28,2020-08-05
237669,ca8nc8qv1x,GB,j1s4nqxb,GB,ktdrjbrq0fo2,Shoes,NaN,GBP,9.46,2020-08-05
237670,z09h7w9zcd,US,0au7baxi,US,0r1qni2g1zi4,Other,NaN,USD,160.76,2020-08-06

In [4]:
currency = pd.read_csv("currency_rates_082020_EUR.csv")
currency

    currency       date    rate
0        EUR   8/1/2020  1.0000
1        EUR   8/2/2020  1.0000
2        EUR   8/3/2020  1.0000
3        EUR   8/4/2020  1.0000
4        EUR   8/5/2020  1.0000
..       ...        ...     ...
215      BRL   8/6/2020  6.3324
216      BRL   8/7/2020  6.4111
217      BRL   8/8/2020  6.4111
218      BRL   8/9/2020  6.4111
219      BRL  8/10/2020  6.4351

[220 rows x 3 columns]

1. How many rows in the sales dataset?(Just write the numbers in the format of 000.000)

In [6]:
sales.shape[0]

237671

2. How many columns in the sales dataset?(Just write the numbers)

In [7]:
sales.shape[1]

10

3. What is the total number of sellers?(Just write the numbers in the format of 000.000)

In [8]:
sales["seller_id"].nunique()

114227

4. What is the total value of sales in EUR?(Just write the numbers in the format of 0.000.000 )

In [11]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

In [12]:
df_sales1 = sales.copy()

In [13]:
currency.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    object
 2   rate      220 non-null    float64
dtypes: float64(1), object(2)
memory usage: 5.3+ KB

In [26]:
df_cur1 = currency.copy()

In [20]:
df_sales1.date = pd.to_datetime(df_sales1.date)
df_sales1

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09
...,...,...,...,...,...,...,...,...,...,...
237666,p7ibf7soot,GB,ss7jy9ks,GB,hzc7pmjxmsb6,Bottoms - Womens,NaN,GBP,17.11,2020-08-06
237667,2hg8zirueq,US,bk6apusi,US,fskn84lfyrvz,Home,NaN,USD,69.00,2020-08-05
237668,k5hmcfxcs6,GB,n2ez0xph,GB,5afe7yhdpcmz,Other,NaN,GBP,58.28,2020-08-05
237669,ca8nc8qv1x,GB,j1s4nqxb,GB,ktdrjbrq0fo2,Shoes,NaN,GBP,9.46,2020-08-05
237670,z09h7w9zcd,US,0au7baxi,US,0r1qni2g1zi4,Other,NaN,USD,160.76,2020-08-06

In [29]:
df_cur1.date = pd.to_datetime(df_cur1.date)
df_cur1

    currency       date    rate
0        EUR 2020-08-01  1.0000
1        EUR 2020-08-02  1.0000
2        EUR 2020-08-03  1.0000
3        EUR 2020-08-04  1.0000
4        EUR 2020-08-05  1.0000
..       ...        ...     ...
215      BRL 2020-08-06  6.3324
216      BRL 2020-08-07  6.4111
217      BRL 2020-08-08  6.4111
218      BRL 2020-08-09  6.4111
219      BRL 2020-08-10  6.4351

[220 rows x 3 columns]

In [30]:
df_merge = pd.merge(df_sales1,df_cur1,how = "inner" , on = ["date" , "currency"])
df_merge

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935
...,...,...,...,...,...,...,...,...,...,...,...
237666,d7dx6f3qv7,RoW,e2p108mu,RoW,nan9a4p10ayk,Tops - Mens,NaN,PLN,4.24,2020-08-04,4.39693
237667,iaf2ck3rj6,IT,gjb1qntq,RoW,lxj477q1hab2,Accessories,NaN,CZK,3923.18,2020-08-04,26.12360
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.41427
237669,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240
237670,wnmihth4io,GB,5yogzc17,RoW,wrgq88ujwh5d,Bottoms - Womens,NaN,NOK,533.06,2020-08-08,10.64540

In [31]:
df_merge["conv"] = df_merge.price / df_merge.rate

In [32]:
df_merge.conv.sum()

6471510.822498876

In [34]:
df_merge.conv.sum().round()

6471511.0

5. Which brand has the highest number of purchases during the period?(Just write down the brand as in the dataset, your answer is supposed to be case sensitive)

In [40]:
df_merge.brand.value_counts()

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
Filson                   1
Surf Gypsy               1
Chaser                   1
All Things Mochi         1
KTZ                      1
Name: brand, Length: 1134, dtype: int64


6. How many items in the “Jewellery” category have no brand associated with them?(Just write the numbers in the format of 00.000)

In [47]:
df_merge.loc[(df_merge["category"] == "Jewellery") & (df_merge.brand).isnull()].product_code.nunique()

10931

7. How many brands have between 35 and 55 transactions (inclusive)?(Just write the numbers)

In [93]:
((df_merge["brand"].value_counts() >= 35) & (df_merge["brand"].value_counts() <= 55)).sum()

81

 
8. How many pairs of shoes were purchased by Australian (AU) buyers?(Just write the the numbers)

In [116]:
((df_merge["buyer_country"] == "AU") & (df_merge["category"] == "Shoes")).sum()

658


9. Which brand has the highest average transaction value? (Just write down the brand as in the dataset, your answer is supposed to be case sensitive)

In [148]:
((df_merge.groupby("brand")["price"].mean())>339)[((df_merge.groupby("brand")["price"].mean())>339)].index

Index(['Goyard'], dtype='object', name='brand')

In [153]:
((df_merge.groupby("brand")["price"].mean())>339).sort_values(ascending = False).head(1)

brand
Goyard    True
Name: price, dtype: bool

In [155]:
((df_merge.groupby("brand")["price"].mean())).idxmax()

'Goyard'

In [156]:
((df_merge.groupby("brand")["price"].mean())>339).idxmax()

'Goyard'

 
10. What is the total value of items purchased by GB buyers from GB sellers? (Just write the numbers in the format of 0.000.000 )

In [174]:
df_merge.loc[((df_merge["buyer_country"] == "GB") & (df_merge["seller_country"] == "GB"))].conv.sum()

3526745.033129233

11. What percentage of US sellers' transactions were purchased by US buyers? (Just write the percentage in the format of 00.00%)

In [209]:
df_merge.loc[(df_merge["buyer_country"] == "US")].value_counts()

buyer_id    buyer_country  seller_id  seller_country  product_code  category          brand        currency  price   date        rate      conv
mfhfmhfqth  US             qvsjhbtt   US              bpyxzus9v22q  Tops - Mens       3sixteen     USD       5.63    2020-08-08  1.178700  4.776449      2
0011avfg8p  US             1p5qeg5e   US              cq6n5qgjj122  Tops - Mens       Adidas       USD       16.14   2020-08-08  1.178700  13.693052     1
o8cycnsfgn  US             a7b7kads   US              afwtuk49dwct  Tops - Mens       UNIQLO       USD       28.36   2020-08-03  1.176250  24.110521     1
o85l1k4udj  US             swxzqste   US              yupjz7irgsul  Shoes             Converse     USD       26.96   2020-08-04  1.181445  22.819513     1
o871z0ffdf  US             wgnzc9oo   US              rnpw2qlrusly  Shoes             BAPE         USD       136.98  2020-08-06  1.187590  115.342837    1
                                                                                                                                                        ..
c3kfkzvgr0  US             pat80ci7   US              40pvmwr1kyww  Other             Donnay       USD       16.72   2020-08-05  1.187255  14.082906     1
c3lzm0tep2  US             q97lpk9g   US              kivfbz39w1nx  Bottoms - Womens  Gap          USD       13.18   2020-08-04  1.181445  11.155830     1
                           whks7k10   US              2a0oumrezax7  Tops - Womens     Gap          USD       45.55   2020-08-04  1.181445  38.554482     1
c3mb70vplx  US             dx5n372r   US              lxkquy29vk6g  Tops - Womens     Forever 21   USD       9.00    2020-08-05  1.187255  7.580511      1
zzzt5c6lh8  US             e32y4xwl   US              klivx96zwait  Tops - Mens       Velva Sheen  USD       16.10   2020-08-04  1.181445  13.627380     1
Length: 38704, dtype: int64

In [208]:
df_merge.loc[(df_merge["seller_country"] == "US")].value_counts()

buyer_id    buyer_country  seller_id  seller_country  product_code  category          brand            currency  price   date        rate      conv
mfhfmhfqth  US             qvsjhbtt   US              bpyxzus9v22q  Tops - Mens       3sixteen         USD       5.63    2020-08-08  1.178700  4.776449     2
0011avfg8p  US             1p5qeg5e   US              cq6n5qgjj122  Tops - Mens       Adidas           USD       16.14   2020-08-08  1.178700  13.693052    1
o89isb9l52  US             i8exvjls   US              sudv86p9kssw  Bottoms - Womens  Versace          USD       107.61  2020-08-09  1.178450  91.314863    1
o7zjj9ll6t  US             02pgxb19   US              tguv223knhkt  Accessories       Brandy Melville  USD       12.80   2020-08-04  1.181445  10.834190    1
o808cua1u3  US             0394d8j8   US              d6o2wicovhwe  Accessories       Burberry         USD       27.04   2020-08-09  1.178450  22.945394    1
                                                                                                                                                           ..
c34tbjcmor  US             adfbgtid   US              ap47pjse7vif  Shoes             Gucci            USD       1.14    2020-08-05  1.187255  0.960198     1
c36w7jrm1z  US             qqljauau   US              3cu94srdp7ek  Bottoms - Womens  Wrangler         USD       32.24   2020-08-09  1.178450  27.357970    1
c3abqscltm  US             54ovo91m   US              cvid0qljys8d  Tops - Mens       RIPNDIP          USD       18.73   2020-08-04  1.181445  15.853468    1
                           hk2m60bc   US              bk9subwuulrs  Tops - Mens       Champion         USD       25.39   2020-08-05  1.187255  21.385465    1
zzzt5c6lh8  US             e32y4xwl   US              klivx96zwait  Tops - Mens       Velva Sheen      USD       16.10   2020-08-04  1.181445  13.627380    1
Length: 38739, dtype: int64

In [210]:
38704 / 38739

0.9990965177211596